
<script src="/js/GithubRepoWidget.js"></script>
<script src="//7.url.cn/edu/jslib/comb/require-2.1.6,jquery-1.9.1.min.js"></script>
<script src="/js/main.js"></script>

{{partial "background.html" .}}
{{partial "google-analytics.html" .}}

{{ if $.Site.Params.mathjax }}
    {{partial "mathjax.html" .}}
{{ end }}

{{partial "scrolling-button.html" .}}
{{partial "hide-labels.html" .}}

{{ if $.Site.Params.jquery_ui }}
<script src="//cdn.bootcss.com/jqueryui/1.10.4/jquery-ui.min.js"></script>
{{ end }}

<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<script>
    // (function(){
    //     var bp = document.createElement('script');
    //     var curProtocol = window.location.protocol.split(':')[0];
    //     if (curProtocol === 'https') {
    //         bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    //     }
    //     else {
    //         bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    //     }
    //     var s = document.getElementsByTagName("script")[0];
    //     s.parentNode.insertBefore(bp, s);
    // })();
</script>
