<nav id="mobile-nav">
      <div class="overlay">
          <div class="slider-trigger"></div>
          <h1 class="header-author js-mobile-header hide"><a href="/" title="回到主页">{{ $.Site.Params.author }}</a></h1>
      </div>
    <div class="intrude-less">
        <header id="header" class="inner">
            <a href="{{ .Site.Params.root_url}}" class="profilepic">
                <img src="{{ $.Site.Params.root_url}}{{ $.Site.Params.avatar}}" class="animated zoomIn">
            </a>
            <hgroup>
              <h1 class="header-author"><a href="{{ .Site.Params.root_url}}" title="回到主页">{{ $.Site.Params.author }}</a></h1>
            </hgroup>
            {{ if $.Site.Params.subtitle }}
            <p class="header-subtitle">{{ $.Site.Params.subtitle }}</p>
            {{ end }}
            <nav class="header-menu">
                <ul>
                    {{ range .Site.Params.menu }}
                    <li><a href="{{ $.Site.Params.root_url}}.{{ .link }}">{{ .label }}</a></li>
                    {{ end }}
                <div class="clearfix"></div>
                </ul>
            </nav>
            <nav class="header-nav">
                        <ul class="social">
                            {{ range $key, $value := $.Site.Params.subnav }}
                            <li id="{{ $key }}"><a class="{{ $key }}" target="_blank" href="{{ $value }}" title="{{ $key }}"></a></li>
                            {{ end }}
                        </ul>
            </nav>
        </header>
    </div>
</nav>
