{{partial "header.html" .}}
<body>
<div id="container">
    <div class="left-col">
        {{partial "left-col.html" .}}
    </div>
    <div class="mid-col">
        {{partial "mobile-nav.html" .}}
        <div class="body-wrap">
            {{ $paginator := .Paginate (where .Site.Pages "Kind" "page").ByDate.Reverse (index .Site.Params "paginate" | default 10) }}
            {{ if ne $paginator.TotalPages 0 }}
                {{ range $paginator.Pages.ByDate.Reverse }}
                    {{ .Render "summary" }}
                {{ end }}
            {{ end }}
            {{ partial "bottom-nav.html" $paginator}}
        </div>
        {{partial "footer.html" .}}
    </div>
    {{partial "after-footer.html" .}}
</div>
</body>
</html>
