/*

Darcula color scheme from the JetBrains family of IDEs

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #2b2b2b;
}

.hljs {
    color: #bababa !important;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2 !important;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
    color: #6896ba !important;
}

.hljs-code,
.hljs-selector-class {
    color: #a6e22e !important;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
    color: #cb7832 !important;
}

.hljs-params {
    color: #b9b9b9 !important;
}

.hljs-string {
    color: #6a8759 !important;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
    color: #e0c46c !important;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #7f7f7f !important;
}
