{{partial "header.html" .}}
<body>
<div id="container">
    <div class="left-col">
        {{partial "left-col.html" .}}
    </div>
    <div class="mid-col">
        {{partial "mobile-nav.html" .}}
        <div class="body-wrap">

            {{ $paginator := .Paginate ((where (where .Site.Pages "Kind" "page") "Type" "post").ByDate.Reverse.GroupByDate "2006") -}}
            {{- range $paginator.PageGroups }}
            <section class="archives-wrap">
                <div class="archive-year-wrap">
                    <a href="/archives/2018" class="archive-year">{{.Key}}</a>
                </div>

                {{- range .Pages }}
                <div class="archives">

                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <header class="archive-article-header">
                                <div class="article-meta">
                                    <a href="{{ .Permalink | relURL }}" class="archive-article-date">
                                        <time datetime="{{.Date}}" itemprop="datePublished">{{ .Date.Format "01-02"}}
                                        </time>
                                    </a>
                                </div>


                                <h1 itemprop="name">
                                    <a class="archive-article-title" href="{{ .Permalink | relURL }}"
                                       target="_blank">{{ .Title }}</a>
                                </h1>


                                <div class="article-info info-on-archive">

                                    {{ if .Params.categories }}
                                    <div class="article-category tagcloud">
                                        {{ range .Params.categories }}
                                        <a class="article-category-link" href="/categories/{{.|lower}}/">{{.}}</a>
                                        {{ end }}
                                    </div>
                                    {{ end }}

                                    {{ if .Params.tags }}
                                    <div class="article-tag tagcloud">
                                        <ul class="article-tag-list">
                                            {{ range .Params.tags }}
                                            <li class="article-tag-list-item">
                                                <a class="article-tag-list-link" href="/tags/{{.|lower}}/">{{.}}</a>
                                            </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                    {{ end }}

                                </div>
                                <div class="clearfix"></div>
                            </header>
                        </div>
                    </article>
                </div>
                {{ end }}
            </section>
            {{ end }}


            {{ partial "bottom-nav.html" $paginator}}
            {{ partial "hide-labels.html" }}

        </div>
        {{partial "footer.html" .}}
    </div>
    {{partial "after-footer.html" .}}
</div>
</body>
</html>
